@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
}

nav {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background: #fff7ed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #000000;
  color: #000000;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 25.3531px;
  line-height: 40px;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 22.92px;
}
.menu li {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
}

.menu li a {
  color: #4d4d4d;
  text-decoration: none;
}

.menu li :hover {
  color: #ff8c38;
}

.host-nav {
  display: flex;
  flex-direction: row;
  /* width: 300px;  */
  align-items: center;
  justify-content: flex-start;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff7ed;
}

.host-vans-title {
  padding-inline: 26px;
  /* background:#fff7ed; */
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.host-van-detail-nav {
  display: flex;

  margin-block: 25px;
  justify-content: flex-start;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}
.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
  line-height: 21px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
}

.host-van-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-detail-image {
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.host-van-details {
  margin-left: 20px;
  padding: 20px;
}

.back-button {
  margin-left: 40px;
line-height: 50px;}
